body {
  background-color: bisque;
}
.grid {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20rem 8rem 13rem;
}

.results {
  background-color: rgb(95, 211, 153);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}


#para {
  background-color:rgb(125, 235, 235);
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}



.img {
  background-color:rgb(47, 67, 67);
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.img1{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width:200px;
  background-color:aqua;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}


.img2 {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
  background-color:aqua;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.img3 {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  background-color:aqua;
  width: 200px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.img4 {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  background-color:aqua;
  width: 200px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.img5 {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  background-color:aqua;
  width: 200px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
<<<<<<< HEAD
}
=======
}
<<<<<<< HEAD

=======
>>>>>>> 6625fbdc7177b25b8c584f8882b0030b5fe1abf8
>>>>>>> main
